* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page1 h1 {
  font-size: 8.5vw;
  font-weight: 900;
  line-height: 8.5vw;
}

#page1 h1 svg {
  height: 6vw;
  width: 6vw;
  background-color: #0ba34e;
  border-radius: 50%;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}

#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
}
#parabutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 3px;
}
#parabutton h4 {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 50px;
  text-transform: lowercase;
  font-size: 1vw;
  font-weight: 400;
  border: 1px solid #777575;
}

#parabutton h4:nth-last-child(2) {
  border: none;
}

nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  background-color: #111;
  z-index: 10;
}

nav:hover #nav-bottom {
  height: 100%;
  bottom: -100%;
}
.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  text-transform: uppercase;
  font-size: 0.7vw;
  font-weight: 600;
}

.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}
nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

nav button svg {
  height: 0.8vw;
  margin-left: 1.6vw;
}
.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  font-size: 0.73vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.6vw;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  display: none;
  overflow: hidden;
}
#nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  background-color: red;
  top: 100%;
  background-color: #111;
  z-index: 9;
  border-bottom: 1px solid #fff;
}

#moving-div {
  position: absolute;
  bottom: 4%;
  width: 44%;
  white-space: nowrap;
  padding: 1.5vw;
  overflow: hidden;
}

@keyframes marque {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#blur-left {
  width: 20%;
  height: 100%;
  background: linear-gradient(to left, transparent, #111);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
 
}

#blur-right {
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

}
#moving-div .move {
  display: inline-block;
  animation-name: marque;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-div .move img {
  height: 2vw;
  margin: 0 1vw;
}
